In [2]:
import pandas as pd

In [3]:
import numpy as np

In [9]:
my_series = [5,9,12,27]
my_var = pd.Series(my_series)
my_var

0     5
1     9
2    12
3    27
dtype: int64

In [10]:
print(my_var[2])

12

In [15]:
my_index = ['A', 'B', 'C', 'D']
my_var2 = pd.Series(my_series, index=my_index)
my_var2

A     5
B     9
C    12
D    27
dtype: int64

In [17]:
my_var2['C']

12

In [19]:
cars = {'Tesla':12, 'Mercedes':42, 'BMW':3}
my_var3 = pd.Series(cars)
my_var3

Tesla       12
Mercedes    42
BMW          3
dtype: int64

In [20]:
my_var3['Tesla']

12